/*-------------------------------
COMMON
--------------------------------*/
*{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border: 0px!important;
	box-sizing: border-box!important;
	}
*:focus{
	outline: none!important;
	}
body{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	background-color: #FFFFFF;
	}
input[type=text]::-ms-clear{
	display: none;
	width : 0;
	height: 0;
	}
input[type=text]::-ms-reveal{
	display: none;
	width : 0;
	height: 0;
	}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration{
	display: none;
	}
a{
	color: #000000;
	}
header, footer, nav, section, article, main, aside{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	}
acronym, abbr{
	cursor: help;
	}
label{
	display: block;
	}
cite{
	font-style: none!important;
	}
.clear{
	clear: both;
	}
.center{
	text-align: center;
	}
.wp-caption-text{
	}
.sticky{
	}
.bypostauthor{
	}
::selection{
	background: #eeeeee;
	color: #000000;
	text-shadow: none;
	}
::-moz-selection{
	background: #eeeeee;
	color: #000000;
	text-shadow: none;
	}
::-webkit-input-placeholder{
	color: #000000;
	}
:-ms-input-placeholder{
	color: #000000;
	}
::placeholder {
	color: #000000;
	}
.wp-caption{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	}
.wp-caption img{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	border: 0px solid #FFFFFF;
	text-align: center;
	}
.aligncenter{
	margin-top: 0px!important;
	margin-bottom: 15px!important;
	margin-left: auto!important;
	margin-right: auto!important;
	padding-left: 0px!important;
	padding-bottom: 0px!important;
	padding-top: 0px!important;
	padding-right: 0px!important;
	text-align: center!important;
	text-transform: uppercase!important;
	text-decoration: none!important;
	font-family: 'Gotham Light', sans-serif!important;
	font-weight: normal!important;
	font-size: 8px!important;
	line-height: 8px!important;
	letter-spacing: 5px!important;
	color: #000000!important;
	-webkit-text-stroke: 1px #000000!important;
	}
figure.alignleft{
	margin-top: 0px!important;
	margin-bottom: 15px!important;
	margin-left: 0px!important;
	margin-right: 30px!important;
	padding-left: 0px!important;
	padding-bottom: 0px!important;
	padding-top: 0px!important;
	padding-right: 0px!important;
	float: left!important;
	text-align: center!important;
	text-transform: uppercase!important;
	text-decoration: none!important;
	font-family: 'Gotham Light', sans-serif!important;
	font-weight: normal!important;
	font-size: 8px!important;
	line-height: 8px!important;
	letter-spacing: 5px!important;
	color: #000000!important;
	-webkit-text-stroke: 1px #000000!important;
	}
figure.alignright{
	margin-top: 0px!important;
	margin-bottom: 15px!important;
	margin-left: 30px!important;
	margin-right: 0px!important;
	padding-left: 0px!important;
	padding-bottom: 0px!important;
	padding-top: 0px!important;
	padding-right: 0px!important;
	float: right!important;
	text-align: center!important;
	text-transform: uppercase!important;
	text-decoration: none!important;
	font-family: 'Gotham Light', sans-serif!important;
	font-weight: normal!important;
	font-size: 8px!important;
	line-height: 8px!important;
	letter-spacing: 5px!important;
	color: #000000!important;
	-webkit-text-stroke: 1px #000000!important;
	}
.gallery{
	margin-top: 15px;
	margin: auto;
	}
.gallery-item{
	float: left;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
	width: 33.3%;
	}
.gallery img{
	border: 0px solid #FFFFFF!important;
	}
.gallery-caption{
	margin-left: 0;
	}
#gallery img{
	border: 0px!important;
	}
figure.aligncenter{
	margin: 0 auto!important;
	}
.aligncenter{
	margin-left: auto!important;
	margin-right: auto!important;
	}
a img.aligncenter{
	margin-left: auto!important;
	margin-right: auto!important;
	}
/*-------------------------------
FRAMEWORK
--------------------------------*/
div#wrapper{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	}
div#extra{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	width: 900px;
	}
div#entries{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	width: 900px;
	}
div#page-full-width{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	width: 900px;
	}
main{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px; 
	display: block;
	width: 620px;
	float: left;
	}
aside{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	display: block;
	width: 250px;
	float: right;
	}
/*-------------------------------
HEADER
--------------------------------*/
header{
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 900px;
	text-align: center;
	}
header h1{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	display: inline-block;
	}
header h1 a{
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	display: block;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px; 
	font-size: 50px;
	line-height: 50px;
	letter-spacing: 15px;
	font-family: 'Gotham Light', sans-serif;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
header h1 a:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
header div#description{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px; 
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 8px;
	line-height: 8px;
	letter-spacing: 5px;
	color: #000000;
	-webkit-text-stroke: 1px #000000;
	}
/*-------------------------------
SEARCH
--------------------------------*/
div#index-search{
	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 30px!important;
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	width: 250px!important;
	height: 15px!important;
	box-sizing: border-box!important;
	border-top: 0px solid #000000!important;
	border-left: 0px solid #000000!important;
	border-right: 0px solid #000000!important;
	border-bottom: 0px solid #000000!important;
	float: left!important;
	display: block!important;
	}
div#index-search input{
	margin-top: -1.5px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-left: 5px!important;
	padding-right: 5px!important;
	padding-bottom: 0px!important;
	box-sizing: border-box!important;
	width: 232.5px!important;
	height: 15px;
	display: block!important;
	background-color: transparent;
	font-weight: normal!important;
	text-transform: uppercase!important;
	text-decoration: none!important;
	font-family: 'Gotham Light', sans-serif!important;
	font-size: 8px!important;
	line-height: 8px!important;
	letter-spacing: 5px!important;
	color: #000000!important;
	-webkit-text-stroke: 1px #000000!important;
	border-top: 1.5px solid #000000!important;
	border-bottom: 1.5px solid #000000!important;
	border-left: 1.5px solid #000000!important;
	border-right: 0px solid #000000!important;
	float: left;
	}
div#index-search button{
	margin-top: -1.5px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	box-sizing: border-box!important;
	height: 15px!important;
	width: 15px!important;
	float: left!important;
	display: block!important;
	top: 0px!important;
	right: 0px!important;
	border-top: 1.5px solid #000000!important;
	border-bottom: 1.5px solid #000000!important;
	border-left: 1.5px solid #000000!important;
	border-right: 1.5px solid #000000!important;
	background: url("../svgs/icon-search.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 8px 8px;
	cursor: pointer;
	}
div#index-search ::-webkit-input-placeholder{
	color: #000000;
	}
div#index-search :-ms-input-placeholder{
	color: #000000;
	}
div#index-search ::placeholder{
	color: #000000;
	}
/*-------------------------------
COMMENTS
--------------------------------*/
div#comments{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}
div#comments h3{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	display: block;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px; 
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 2.5px;
	font-family: 'Gotham Light', sans-serif;
	-webkit-text-stroke: 1px #000000;
	}
div#comments h3 a{
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
div#comments h3 a:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
div#comments a{
	font-family: "Gotham Bold", sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 2.5px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	border-bottom: 0px solid #e3e3e3;
	-webkit-text-stroke: 0.25px #000000;
	background-color: #e3e3e3;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
div#comments a:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
div#comments img{
	-webkit-filter: grayscale(100%) brightness(100%) contrast(100%);
	width: 50px;
	height: 50px;
	}
div#comments input, div#comments textarea{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 7.5px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-bottom: 7.5px;
	text-align:-moz-center;
	text-align:-webkit-center;
	font-size: 10px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	text-decoration: bold;
	font-family: 'Gotham Bold', sans-serif;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
	border: 1.5px solid #000000!important;
	width: 100%!important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
	resize: none;
	}
div#comments input[type="submit"]{
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	font-weight: normal;
	text-decoration: none;
	border: 0px solid #e3e3e3!important;
	height: 30px;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 10px;
	background-color: #000000;
	font-family: 'Gotham Bold', sans-serif;
	color: #ffffff;
	text-align: center;
	}
div#comments input[type="submit"]:hover{
	border: 1.5px solid #000000!important;
	cursor: pointer!important;
	}
ul#comments-list{
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	list-style: none;
	}
ul#comments-list li{
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 15px;
	text-align: justify;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 12.5px;
	line-height: 25px;
	letter-spacing: 1.5px;
	color: #333333;
	border: 1.5px solid #000000!important;
	}
ul#comments-list li li{
	margin-top: 15px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 15px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 15px;
	list-style: none;
	border: 1.5px solid #000000!important;
	}
div.comment-author{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	float: left;
	display: block;
	width: 50%;
	text-align: left;
	font-style: none!important;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 12.5px!important;
	line-height: 12.5px!important;
	letter-spacing: 1.5px!important;
	color: #333333;
	}
div.comment-meta{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	float: right;
	display: block;
	width: 50%;
	text-align: right;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 12.5px!important;
	line-height: 12.5px!important;
	letter-spacing: 1.5px!important;
	color: #333333;
	}
div#comments p{
	margin-top: 15px!important;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	display: block;
	clear: both;
	}
div.comment-wrap{
	padding-left:0px!important;
	min-height:0px!important;
	}
div.reply{
	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 15px!important;
	padding-left: 0px!important;
	padding-bottom: 0px!important;
	padding-top: 0px!important;
	padding-right: 0px!important;
	display: block!important;
	width: 100%!important;
	clear: both!important;
	}
a.comment-reply-link{
	margin-top: 0px!important;
	margin-left: auto!important;
	margin-right: auto!important;
	margin-bottom: 0px!important;
	padding-left: 0px!important;
	padding-bottom: 0px!important;
	padding-top: 0px!important;
	padding-right: 0px!important;
	position: relative!important;
	text-align: right!important;
	float: right!important;
	bottom: 0px!important;
	right: 0px!important;
	display: inline-block!important;
	font-weight: normal!important;
	font-style: normal!important;
	color: #000000!important;
	outline: none!important;
	text-decoration: none!important;
	background-color: #FFFFFF!important;
	text-transform: uppercase!important;
	font-size: 12.5px!important;
	line-height: 12.5px!important;
	letter-spacing: 2.5px!important;
	font-family: 'Gotham Bold', sans-serif!important;
	-webkit-text-stroke: 0px #000000;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
a.comment-reply-link:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
div.closed{
	margin-top: 15px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px!important;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 12.5px!important;
	line-height: 25px!important;
	letter-spacing: 1.5px!important;
	color: #333333;
	}
div#trackbacks{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 12.5px!important;
	line-height: 25px!important;
	letter-spacing: 1.5px!important;
	color: #333333;
	}
div#trackbacks h3{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-align: justify;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	display: block;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px; 
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 2.5px;
	font-family: 'Gotham Light', sans-serif;
	-webkit-text-stroke: 1px #000000;
	}
/*-------------------------------
RESPOND
--------------------------------*/
div#respond{
	margin-top: 30px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-align: justify;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 12.5px;
	line-height: 25px;
	letter-spacing: 1.5px;
	color: #333333;
	}
div#respond h3{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-transform: uppercase;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	display: block;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px; 
	font-size: 15px;
	line-height: 15px;
	letter-spacing: 2.5px;
	font-family: 'Gotham Light', sans-serif;
	-webkit-text-stroke: 1px #000000;
	}
div#respond h3 a{
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
div#respond h3 a:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
div#respond a{
	font-family: "Gotham Bold", sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 2.5px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	border-bottom: 0px solid #e3e3e3;
	-webkit-text-stroke: 0.25px #000000;
	background-color: #e3e3e3;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
div#respond a:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
div#respond input, div#respond textarea{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 7.5px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-bottom: 7.5px;
	text-align:-moz-center;
	text-align:-webkit-center;
	font-size: 10px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	text-decoration: normal;
	font-family: 'Gotham Bold', sans-serif;
	font-weight: normal;
	color: #000000;
	background-color: #ffffff;
	border: 1.5px solid #000000!important;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 0;
	resize: none;
	}
div#respond input[type="submit"]{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 7.5px;
	padding-left: 7.5px;
	padding-right: 7.5px;
	padding-bottom: 7.5px;
	font-weight: normal;
	text-decoration: none;
	border: 1.5px solid #000000!important;
	text-transform: uppercase;
	font-size: 10px;
	letter-spacing: 10px;
	line-height: 10px;
	background-color: #000000;
	font-family: 'Gotham Bold', sans-serif;
	color: #ffffff;
	text-align: center;
	}
div#respond input[type="submit"]:hover{
	border: 1.5px solid #000000!important;
	cursor: pointer!important;
	}
/*-------------------------------
COPYRIGHT
--------------------------------*/
div#copyright{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	padding-top: 30px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	border-top: 1.5px solid #000000!important;
	}
div#copyright-contents{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Light', sans-serif;
	font-weight: normal;
	font-size: 12.5px;
	line-height: 25px;
	letter-spacing: 1.5px;
	color: #333333;
	}
div#copyright-contents a{
	font-family: "Gotham Bold", sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 25px;
	letter-spacing: 2.5px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	border-bottom: 0px solid #e3e3e3;
	-webkit-text-stroke: 0.25px #000000;
	background-color: #e3e3e3;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
div#copyright-contents a:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
/*-------------------------------
404 NOT FOUND
--------------------------------*/
div#error-search{
	margin-top: 7.5px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	width: 250px!important;
	height: 25px!important;
	box-sizing: border-box!important;
	border-top: 3px solid #000000!important;
	border-left: 3px solid #000000!important;
	border-right: 3px solid #000000!important;
	border-bottom: 3px solid #000000!important;
	float: left!important;
	display: block!important;
	}
div#error-search input{
	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-left: 5.5px!important;
	padding-right: 5.5px!important;
	padding-bottom: 0px!important;
	width: 221.5px!important;
	height: 19.5px;
	display: block!important;
	background-color: transparent;
	font-weight: normal!important;
	text-decoration: none;
	color: #000000;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: 'Gotham Bold', sans-serif;
	border-top: 0px solid #000000!important;
	border-bottom: 0px solid #000000!important;
	border-left: 0px solid #000000!important;
	border-right: 0px solid #000000!important;
	float: left;
	}
div#error-search button{
	margin-top: -0.5px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	height: 20px!important;
	width: 21.5px!important;
	float: left!important;
	display: block!important;
	top: 0px!important;
	right: 0px!important;
	border-top: 0px solid #000000!important;
	border-bottom: 0px solid #000000!important;
	border-left: 3px solid #000000!important;
	border-right: 0px solid #000000!important;
	background: url("../svgs/icon-search.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 10px 10px;
	}
div#error-search ::-webkit-input-placeholder{
	color: #000000;
	}
div#error-search :-ms-input-placeholder{
	color: #000000;
	}
div#error-search ::placeholder{
	color: #000000;
	}
div#error-404-not-found{
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	}
div#error-404-not-found-contents{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	width: 900px;
	display: block;
	}
div#error-404-not-found-contents-left{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	display: block;
	width: 50%;
	float: left;
	text-align: center;
	text-transform: none;
	text-decoration: none;
	font-family: 'Gotham Bold', sans-serif;
	font-weight: normal;
	font-size: 200px;
	line-height: 200px;
	letter-spacing: 25px;
	color: #000000;
	}
div#error-404-not-found-contents-right{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	display: block;
	width: 45.5%;
	float: right;
	text-align: justify;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	font-size: 12.5px;
	line-height: 25px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: 'Gotham Bold', sans-serif;
	}