/*-------------------------------
NAVIGATION
--------------------------------*/
div#navigation{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	width: 900px;
	height: 42.5px;
	z-index: 1;
	}
div#navigation nav{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 900px;
	height: 42.5px;
	z-index: 1;
	border-left: 1.5px solid #000000!important;
	}
div#navigation nav ul{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}
div#navigation nav ul li{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	float: left;
	list-style: none;
	position: relative;
	}
div#navigation nav ul li a{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 12.5px;
	padding-bottom: 15px;
	display: block;
	float: left;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	font-size: 12.5px;
	line-height: 12.5px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: 'Gotham Bold', sans-serif;
	border-right: 1.5px solid #000000!important;
	background-color: #FFFFFF;
	}
div#navigation nav ul li ul{
	margin-top: 0px;
	margin-left: -1.5px!important;
	margin-right: 0px;
	margin-bottom: 0px;
  	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	position: absolute;
	left: 0;
	display: none;
	visibility: hidden;
	top: 42.5px;
	width: 250px;
	z-index: 1;
	border-top: 1.5px solid #000000!important;
	}
div#navigation nav ul li ul li:last-child{
	border-bottom: 0px solid #000000!important;
	}
div#navigation nav ul li ul li a{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 12.5px;
	padding-bottom: 15px;
	display: block;
	float: left;
	font-weight: normal;
	text-decoration: none;
	color: #000000;
	font-size: 12.5px;
	line-height: 12.5px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	font-family: 'Gotham Bold', sans-serif;
	border-right: 0px solid #000000!important;
	border-bottom: 1.5px solid #000000!important;
	width: 250px;
	}
div#navigation nav ul li:hover ul{
 	display: block;
 	visibility: visible;
	}
/*-------------------------------
BREADCRUMBS
--------------------------------*/
div#breadcrumbs{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}
div#breadcrumbs ul{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}
div#breadcrumbs ul li{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	list-style: none;
	float: left;
	font-family: "Gotham Bold", sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 2.5px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	border-bottom: 0px solid #e3e3e3;
	-webkit-text-stroke: 0.25px #000000;
	}
div#breadcrumbs ul li span{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	float: left;
	display: inline-block;
	}
div#breadcrumbs ul li span.arrows{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	float: left;
	background-color: transparent;
	border: 0px solid #FFFFFF;
	color: #000000;
	display: inline-block;
	}
div#breadcrumbs ul li a{
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	float: left;
	font-family: "Gotham Bold", sans-serif;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	letter-spacing: 2.5px;	
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	border-bottom: 0px solid #e3e3e3;
	-webkit-text-stroke: 0.25px #000000;
	background-color: #e3e3e3;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	-webkit-transition: -webkit-filter 300ms linear;
	transition: 0.3s;
	}
div#breadcrumbs ul li a:hover{
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: -webkit-filter 300ms linear;
	}
/*-------------------------------
PAGINATION
--------------------------------*/
div#pagination{
	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	}
div#pagination ul{
	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 0px!important;
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	}
div#pagination ul li{
	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 0px!important;
	margin-bottom: 30px!important;
	padding-top: 0px!important;
	padding-left: 0px!important;
	padding-right: 0px!important;
	padding-bottom: 0px!important;
	display: block;
	float: left;
	}
div#pagination ul li a{
	margin-top: 0px!important;
	margin-left: 0px!important;
	margin-right: 17.5px!important;
	margin-bottom: 0px!important;
	padding-top: 3.5px!important;
	padding-left: 2.5px!important;
	padding-right: 2.5px!important;
	padding-bottom: 3px!important;
	text-decoration: none!important;
	background-color: #FFFFFF!important;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	color: #000000;
	font-size: 8px;
	line-height: 8px;
	letter-spacing: 0px;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Gotham Bold', sans-serif;
	display: block;
	text-align: center;
	width: 17.5px;
	border: 1.5px #000000 solid!important;
	-webkit-text-stroke: 0px #000000;
	}
.previous-pagination-links{
	content: ""!important;
	font-size: 0px!important;
	background-position: 3px center!important;
	background-repeat: no-repeat!important;
	background-size: 8px 8px!important;
 	background-image: url("../svgs/icon-pagination-previous.svg")!important;
	}
.next-pagination-links{
	content: ""!important;
	font-size: 0px!important;
	background-position: 3.5px center!important;
	background-repeat: no-repeat!important;
	background-size: 8px 8px!important;
 	background-image: url("../svgs/icon-pagination-next.svg")!important;
	}
/*-------------------------------
SOCIAL
--------------------------------*/
div#social{
	margin-top: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
 	width: 575px;
	height: 15px;
	float: right;
	}
div#social a{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 15px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-right: 0px;
	width: 15px;
	height: 15px;
	float: right;
	display: block;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	-moz-transition: -moz-transform 0.1s ease-in; 
	-webkit-transition: -webkit-transform 0.1s ease-in; 
	-o-transition: -o-transform 0.1s ease-in;
	-ms-transition: -ms-transform 0.1s ease-in;
	transition: transform 0.1s ease-in;
	}
div#social a:hover{
	-moz-transform: scale(1.25);
	-webkit-transform: scale(1.25);
	-o-transform: scale(1.25);
	-ms-transition: scale(1.25);
	transform: scale(1.25);
	}
div#social a#feed{
	background-image: url(../svgs/icon-social-feed.svg);
	}
div#social a#behance{
	background-image: url(../svgs/icon-social-behance.svg);
	}
div#social a#codepen{
	background-image: url(../svgs/icon-social-codepen.svg);
	}
div#social a#facebook{
	background-image: url(../svgs/icon-social-facebook.svg);
	}
div#social a#github{
	background-image: url(../svgs/icon-social-github.svg);
	}
div#social a#soundcloud{
	background-image: url(../svgs/icon-social-soundcloud.svg);
	}
div#social a#instagram{
	background-image: url(../svgs/icon-social-instagram.svg);
	}
div#social a#linkedin{
	background-image: url(../svgs/icon-social-linkedin.svg);
	}
div#social a#pinterest{
	background-image: url(../svgs/icon-social-pinterest.svg);
	}
div#social a#twitter{
	background-image: url(../svgs/icon-social-twitter.svg);
	}
div#social a#spotify{
	background-image: url(../svgs/icon-social-spotify.svg);
	}

div#social a:first-of-type{
	background-image: url(../svgs/icon-social-tumblr.svg);
	margin-right: 0px;
}