<!-- wp:template-part {"slug":"header","theme":"home-services-blocks","tagName":"header","className":"home-header-class"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

<!-- wp:pattern {"slug":"home-services-blocks/banner"} /-->

<!-- wp:pattern {"slug":"home-services-blocks/about-us"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"home-services-blocks","tagName":"footer","className":"home-footer-class"} /-->